.myOrdersPage{
    width: 100vw;
    max-width: 100%;
    padding: 0 7vmax;
    background-color: rgb(235,235,235);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#myOrdersHeading{
    text-align: center;
    font: 400 1.2vmax "Roboto";
    background-color: rgb(44,44,44);
    transition: all 0.5s;
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgb(255,255,255);
}

.myOrdersTable{
    background-color: white;
}

.myOrdersTable div{
    font: 300 1.5vmax "Roboto";
    border: none;
}

.myOrdersTable a{
    color: rgba(0,0,0,0.527);
    transition: all 0.5s;
}

.myOrdersTable a:hover{
    color: tomato;
}

.MuiDataGrid-columnHeader{
    background-color: tomato;
    padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div{
    color: rgb(255,255,255);
    font: 500 1.1vmax "Roboto" !important;
}



@media screen and (max-width:600px) {
    .myOrdersPage{
        padding: 0;
        height: 100vh;
    }
    .myOrdersTable div{
        font: 300 5vw "Roboto";
    }
    #myOrdersHeading{
        font: 400 2vmax "Roboto";
        padding: 4vw;
    }
    .MuiDataGrid-columnHeader{
        padding: 15px !important;
    }
    .MuiDataGrid-columnHeader div{
        font: 500 5vw "Roboto" !important;
    }
}