.productListContainer{
    border-left: 1px solid rgba(0,0,0,0.158);
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#productListHeading{
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0,0,0,0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

.productListTable{
    background-color: white;
    border: none !important;
}

.productListTable div{
    font: 300 1vmax "Roboto";
    border: none !important;
}

.productListTable a{
    color: rgba(0,0,0,0.527);
    transition: all 0.5s;
}

.productListTable a:hover{
    color: tomato;
}

.MuiDataGrid-columnHeader div{
    color: white;
}


@media screen and (max-width:1000px) {
    .productListTable div{
        font: 300 3vw "Roboto";
    }
}

@media screen and (max-width:600px) {
    .productListTable div{
        font: 300 7vw "Roboto";
    }
}